body{
background-image:url("https://i1.wp.com/www.cuisine-blog.fr/wp-content/uploads/2018/10/cover-octobre.jpg");
display:flex;
flex-direction:column;
align-content: center;


}

h1{
   
    text-align: center;
    padding:5px;
    background:white;
}

.container{

    background:red;
    display:flex;
    flex-wrap:wrap;
    width: 100%;

}

.courses{
width:100%;
display: flex;
justify-content: space-between;
background:white;
border:2px solid black;

color:black;

}
a{
    color:black;
    padding:5px;
    background:red;


}

.column1{
    width:25%;
    padding:15px;
    border:2px solid red;
   
}
.entetes{
    display:flex;
    background: black;
    color:white;
   
}